
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'MedievalSharp', cursive;
    font-size: x-large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: var(--color2);
    background-image: url(https://previews.123rf.com/images/123sidhe/123sidhe1810/123sidhe181000098/110770658-abstract-background-with-cracked-stone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}







h1 {
    font-size: 4rem;
    font-weight: bold;
    background-color: maroon;
    color: gold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}



  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
}

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }
}

.description {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: solid 5px red;
    border-radius: 15px;
}

.hidden {
    display: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    margin: 20px;
    border: ridge 5px red;
    border-radius: 40px;
    
}

.item-image {
    height: 500px;
    width: 300px;
    border: ridge 5px red;
    border-radius: 15px;
}

.fixed{
    position: static;
}